<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/blog.js"></script>
    <script>
        window.onload = function() {
            loadABlog();
        }
    </script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <nav id="sidebar" class="bg-dark">
        </nav>

        <div id="page-content-wrapper" class="w-100">
            <nav id='navbarmain' class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            </nav>
            <div class="container-fluid py-4" id='mainpageadmin'>
                <div class="headerpageadmin d-flex justify-content-between align-items-center p-3 bg-light border">
                    <strong class="text-left"><i class='fa fa-users'></i> Thêm/cập nhật Bài Viết</strong>
                    <div class="search-wrapper d-flex align-items-center">
                        <a href="blog" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>

                <div class="col-sm-12">
                    <main class="main row">
                        <div class="col-sm-5">
                            <label class="lb-form">Tiêu đề blog</label>
                            <input id="title" type="text" class="form-control">
                            <label class="checkbox-custom">Blog chính 
                                <input id="primaryBlog" type="checkbox">
                                <span class="checkmark-checkbox"></span>
                            </label><br>
                            <label class="lb-form">Ảnh bài viết</label>
                            <input id="fileimage" type="file" class="form-control">
                            <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                            <label class="lb-form">Mô tả</label>
                            <textarea id="description" class="form-control" style="height: 200px;"></textarea>
                        </div>
                        <div class="col-md-7">
                            <label>Nội dung</label>
                            <textarea id="editor" name="content"></textarea>
                            <div id="loading">
                                <div class="bar1 bar"></div>
                            </div><br>
                            <button onclick="saveBlog()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật bài viết</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    fileimage.onchange = evt => {
        const [file] = fileimage.files
        if (file) {
            imgpreview.src = URL.createObjectURL(file)
        }
    }
</script>
<script src="https://cdn.tiny.cloud/1/iu5zmzbokawdbnc7bsl2gynbnbnuzwi1p9tqzbm614zsa3ht/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
</html>